@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

* {
font-family: "Cinzel", serif;   
}
.main{
    background-color: #faf8e4b9;
}
navbar-transparent {
    background-color: transparent !important;
    border: none;
  }
  
  .bg-dark.p-4 {
    background-color: rgba(0, 0, 0, 0.7) !important;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-left: 55px;
 
  }
  
  .sidenav a:hover {
    color: white;
  }
.card-text{
    text-align:justify center;
}   
.logo {
    width: 150px; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 20px; /* Add some spacing */
  }
  
.explore-btn{
        font-size: 16px;
        color: #818181;
        border: 1px solid rgba(0, 0, 0, 0.634);
        border-radius: 10px;
        padding: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-decoration: none;
    }
      
.explore-btn:hover {
        color: white;
        background-color: #333;
      
  }
  .google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.banner-container {
    position: relative; 
  }
  
  .banner-container .navbar {
    position: absolute; 
    top: 20px; 
    left: 20px; 
    z-index: 10; 
  }

.custom-navbar {
    background-color: rgba(255, 255, 255, 0.7); 
    font-size: 2.2em; 
  }
  
  .custom-navbar .nav-link {
    color: black; 
  }
  
  .custom-navbar .navbar-brand {
    color: black; 
  }

  .custom-navbar .nav-link:hover {
    color: #007bff; 
  }
  
  .container-fluid{
    background-color: transparent;
  }

  