@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

* {
font-family: "Cinzel", serif;   

}
.main{
    align-items:center ;
}
.navbar-transparent {
    background-color: transparent !important;
    border: none;
  }
  .informationsec {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.card {
    max-width: 80%; 
    width: 100%; 
    
}
  .bg-dark.p-4 {
    background-color: rgba(0, 0, 0, 0.7) !important;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-left: 55px;
 
  }
  
  .sidenav a:hover {
    color: white;
  }
  .card-title{
    margin-top: 30%
  }


  
.explore-btn {
  font-size: 16px;
  color: #818181;
  border: 1px solid rgba(0, 0, 0, 0.634);
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
 
.explore-btn:hover {
        color: white;
        background-color: #333;
      
  }
  .google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.banner-container {
    position: relative; 
  }
  
  .banner-container .navbar {
    position: absolute; 
    top: 20px; 
    left: 20px; 
    z-index: 10; 
  }

.custom-navbar {
    background-color: rgba(255, 255, 255, 0.7); 
    font-size: 2.2em; 
  }
  
  .custom-navbar .nav-link {
    color: black; 
  }
  
  .custom-navbar .navbar-brand {
    color: black; 
  }

  .custom-navbar .nav-link:hover {
    color: #007bff; 
  }
  
  .container-fluid{
    background-color: transparent;
  }

  