
.Booking-form-parent {
    margin-top: 4%;
    text-align: center;
  }
  
  .Booking-form-parent h1 {
    font-family: "Cinzel", serif;
    color: #818181;
  }
  
  .Booking-form {
    margin-top: 3%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.527);
    font-size: 16px;
    margin-left: 3px;
  }
  
  .Booking-form input:not(:last-child) {
    margin-bottom: 10px;

  }
  
  .submit-button {
    padding: 10px 90px;
    font-size: 16px;
    color: #818181;
    margin-left: 3px;
    border: 1px solid rgba(0, 0, 0, 0.527);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    color: white;
    background-color: #333;
  }
  